html, body{

    background-color: skyblue;
    height: 100%;
 }
 header
 {  
     background-color: black;
     color: gold;
 }
 
.card{
    margin-bottom: 0;
    margin: auto 30px;
    margin-right: 30px;
    padding: 1px 10px;
    box-shadow: 0 4px 8px 10px rgba(0,0,0,0.2);
    background-color: white;
    height: 100%;
}

nav > ul > li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
    list-style: none;
} 
 nav > ul > li > a{
     margin:0 15px;
     text-decoration: none;
     color: gold;
     position: relative;
     transition: 0.7s all;
 }
nav ul li a:hover{
    color: white;
}
.d1{
    margin: 1.3%;
}
